body {
    background-image: url("../images/background/bg_page.jpg");
}

#wrap {
    max-width: 900px;
    margin: 20px auto;
}

/***************************/
/* HEADER MICRO NAVIGATION */
/***************************/
#header-micro {
    background-image: url("../images/background/bg_topmicronav.jpg");
    background-repeat: repeat-x;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-micro-nav {
	height: 15px;
    margin: 0 auto;
    text-align: right;
    width: 900px;
}
.header-micro-nav ul {
    display: inline;
}
.header-micro-nav ul li {
    display: inline-block;
    margin: 0 0 0 5px;
	position: relative;
	top: -3px;
}
.header-micro-nav ul li a {
    color: #ffffff;
    font-family: Arial;
    font-size: 9px;
    text-decoration: none;
    text-transform: uppercase;
}